<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ops!</title>
</head>
<body>
    <hgroup>
        <h3>Algo ocorreu. </h3>
        <h4>Não se preocupe, estamos melhorando.</h4>
        <h6>Details: @ViewBag.Message</h6>
    </hgroup>
</body>
</html>
