<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ops!</title>
</head>
<body>
    <hgroup>
        <h1>Algo ocorreu. </h1>
        <h2>Não se preocupe, estamos melhorando.</h2>
    </hgroup>
</body>
</html>
