@model Vote.Models.HomeViewModel

<div style="margin-top: 35px;">
    <div class="col-md-4 col-sm-5 col-xs-12 col-lg-3">
        <a class="small-box-link">
            <div class="small-box bg-vote">
                <div class="inner">
                    <p class="title">
                        Votos Computados Hoje
                    </p>
                    <h3>
                        @Model.VotosComputadosHoje
                    </h3>
                    <h6>
                        @Html.ActionLink("Votar", "Votar")
                    </h6>
                </div>
                <div class="icon icon-vote">
                    <i class="fa fa-envelope"></i>
                </div>
            </div>
        </a>
    </div>
</div>
@if (Model.RestauranteVencedor != null)
{
    <div style="margin-top: 35px;">
        <div class="col-md-4 col-sm-5 col-xs-12 col-lg-3">
            <a class="small-box-link">
                <div class="small-box bg-winner">
                    <div class="inner">
                        <p class="title">
                            O Vencedor de Hoje é
                        </p>
                        <h3>
                            @Model.RestauranteVencedor.Nome
                        </h3>
                        <h6>
                            @Model.RestauranteVencedor.Endereco
                        </h6>
                    </div>
                    <div class="icon icon-vote">
                        <i class="fa fa-cutlery"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
 } 