<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/></configSections>
  <connectionStrings>
    <!--<add name="VoteEF" connectionString="metadata=res://*/VoteEF.csdl|res://*/VoteEF.ssdl|res://*/VoteEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dbservervote.database.windows.net;initial catalog=vote;persist security info=True;user id=dbserver;password=votedb2017!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="VoteEF" connectionString="metadata=res://*/VoteEF.csdl|res://*/VoteEF.ssdl|res://*/VoteEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=vote;persist security info=True;user id=dbserver;password=votedb2017!;Trusted_Connection=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <specFlow>
    
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="MSTest"/></specFlow>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
