<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="VoteEF" connectionString="metadata=res://*/VoteEF.csdl|res://*/VoteEF.ssdl|res://*/VoteEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dbservervote.database.windows.net;initial catalog=vote;persist security info=True;user id=dbserver;password=votedb2017!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <specFlow>
    <unitTestProvider name="MsTest" />
  </specFlow>
</configuration>